#primary_conninfo='host={{ pgsqlrep_master_address }} port={{ pg_port }} user={{ pgsqlrep_user }} application_name={{ pgsqlrep_application_name }}'
primary_conninfo='host={{ pgsqlrep_master_address }} port={{ pg_port }} user={{ pgsqlrep_user }} password={{ pgsqlrep_password }} sslmode=prefer'
